*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
     background-color: #1a191f;
     font-family: "Open Sans", sans-serif;
}

.container{ 
    max-width: 1200px;
    margin: 0 auto;
}
.header-content{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 60px;
}
.header-logo{ 
    font-size: 32px;
    text-decoration: none;
    color: #fff;
}
.header-search{ 
    padding: 8px;
    border: 2px solid #1a191f;
    outline: none;
    border-radius: 5px;
}
.movies{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.movie{ 
    width: 240px;
    margin: 10px;
    position: relative;
}
.movie-cover-inner{
    position: relative;
    height: 360px;
}

.movier-cover{ 
    max-width: 100%;
    height: 100%;
}
.movie-cover-darkend{
    background-color: #000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}
.movie-cover-darkend:hover{
    background-color: grey;
    cursor: pointer;
}
.movie-info{ 
    padding: 10px 0;

}
.movie-title{ 
    font-size: 16px;
    color: #fff;

}
.movie-category{ 
    font-size: 14px;
    color: #ffd80e;
}
.movie-average{ 
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    font-size: 14px;
}
.movie-average-green{
    border: 2px solid green;

}
.movie-average-orange{
    border: 2px solid orange;

}
.movie-average-red{
    border: 2px solid red;

}

