*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{ 
    text-decoration: none;
    
}
ul{ 
    list-style: none;

}
body { 
    background: black;
    transition:  .2s linear;


}
.page-width{ 
    /* max-width: 1280px; */
    margin: 0 auto;
}
.wrapper{ 
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 1812px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(14, 1fr);
}

 .main > * img { 
     width: 100%;
 }
.header{ 
    grid-row: span 1;
    height: 120px;
    margin: 0 auto;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    /* border: 2px solid red; */
    position: fixed;

}

.wrapper-header{ 
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 30px 40px;
    background: #fff;
    max-width: 1280px;
    margin:  0 auto;

}

.cozy-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 10px;
}
.cozy-text {
    padding-left: 3px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #292929;
    letter-spacing: 0.1em;

    }

.header-item:hover{ 
    color: #242424;
    transition: all ease 0.4s;
}

.header-list{ 
    margin-left: 35px;
    
}
.header-list:first-child{ 
    margin-left: 0;
}
.item-active{
    border-bottom: 3px solid #F1CDB3;

}

.header-ul{
    display: flex;
}
.header-item {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    padding-right: 1px;
}

.header-item.active{ 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #292929;
}

/* MAIN*/

.main{ 
    background-color: #f6f6f6;
    grid-row: span 11.0;
    height: 1342px;
    margin-top: 120px;
}
.wrapper-main{ 
    padding: 80px 40px 50px;

}
.friends-issue {
    
   
}
.issue-article{ 
    width: 400px;
    margin: 0 auto;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 45px;
}
.make-a{ 
    color: #292929;
}
.pet-cards{ 
    margin: 11px auto;
    box-sizing: border-box;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px 42px;
}
.pet-cards > *{ 
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fafafa;
}
.pet-cards > *:hover{ 
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);


}

.pet-cards > :hover button{ 
    cursor: pointer;
    background-color: #FDDCC4;
    border: #FDDCC4;
    transition: all ease .8s ;
}
.card{ 
    height: 270px;
    width: 435px;

}
.caption-one{ 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 28.5px;
    padding-left: 2px;
    /* padding-top: 30px;
    padding-bottom: 30px; */
}
.button-friends{
    width: 187px;
    height: 52px;
    background-color: #fafafa;
    border: 2px solid #f1cdb3;
    border-radius: 35px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #494949;
    box-sizing: border-box;
    display: block;
    margin: 30px auto;
}
.button-friends:hover{ 
    cursor: pointer;
    background-color: #FDDCC4;
    border: #FDDCC4;
    transition: all ease .8s ;


}
.buttons-main{ 
    /* width: 385px; */
    width: 340px;
    display: block;
    /* padding-left: 21px; */
    margin: 59px auto;
}
.but{ 
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
.but:last-child{
    margin-right: 0;
}
.prev{ 
    border: 2px solid #cdcdcd;
    margin-right: 16px;
    background-color: #f6f6f6;
}
.next{ 
    border: 2px solid #F1CDB3;
    margin-right: 16px;
    background-color: #f6f6f6;



}
.next:last-child{ 
    margin-right: 0;

}
.next:hover{ 
    background-color: #FDDCC4;
    border: #FDDCC4;
    cursor: pointer;

}
.color-bp{ 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #cdcdcd;

}
.color-bn{ 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;


}
.number-p{ 
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

}
.current{ 
    border: none;
    
    background-color:  #F1CDB3;
    margin-right: 16px;
}
/* MAIN*/


/*FOOTER*/

.footer {
    grid-row: span 2;
    height: 350px;
    background: url(../../assets/images/footer-gradient-background.svg) no-repeat 50% 50%;
    background-size: cover;


}
.foot-wrapper {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    height: 310px;
}
.foot-main {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    overflow: hidden;
    /* padding: 40px 40px 0; */
}
.for-suggestion {
    width: 288px;
    /* padding-right: 160px; */
}
.title-suggestion {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #fff;
    padding-bottom: 40px;
}
.email-suggest {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-bottom: 35px;
}
.email {
    

}
.email-ph {
    padding-right: 20px;
    

}
.email-iss {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.phone-suggest {
    display: flex;
    align-items: center;
    justify-items: center;

}
.phone {
}
.phone-ph {
    padding-right: 20px;
}
.phone-iss{ 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;

}
.for-visit {
    width: 302px;


}
.title-visit {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #fff;
    padding-bottom: 33px;
    margin-left: -4px;
}
.address-1 {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-bottom: 28px;


}
/* .adress-log {
    width: 32px;
    height: 22px; */

.adress-ph {
    padding-top: 4px;
    padding-right: 20px;
    width: none;
    margin-left: -5px;
}
.adress-1-iss {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.address-2 {
    display: flex;
    align-items: center;
    justify-items: center;

}

.last-dog{ 
    width: 300px;
    height: 310px;
    margin-top: -16px;

}

.footer-dog-ph{
    width: 100%;
    height: 100%;

}
/*Footer End*/




/*FOOTER*/



