.sources {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 120px;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    /* scrollbar-color: #6969dd #e0e0e0; */
    /* scrollbar-width: thin; */

}

.sources::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

.sources::-webkit-scrollbar-track {
    background-color:#fff;

}
.sources::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}

/* scrollbar itself */
.sources::-webkit-scrollbar-thumb {
    background-color:#bdae82;
    border-radius:16px;
    border:5px solid #fff;
}
.sources::-webkit-scrollbar-thumb:hover {
    background-color:#80703e;
    /* border:4px solid #f4f4f4 */
}

/* set button(top and bottom of the scrollbar) */
.sources::-webkit-scrollbar-button {display:none}

/* div box */
/* body{background-color:#babac0}
.scrollbar {
    height: 75vh;
    width: 25vw;
    min-width: 150px;
    background: #fff;
    overflow-y: scroll}
.overflow{min-height: 100vh} */



/* .sources::-webkit-scrollbar {
    height: 10px;

} */

.source__item {
    background: none;
    border: 2px solid #bdae82;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color:#bdae82;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #fff;
    color: #fff;
    box-shadow: 0 0.5em 0.5em -0.4em #fff;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}


@media  screen and (max-width:500px) {
    .sources {
        height: 50px;
        padding: 0 10px
    }
    .source__item {
        padding: 0.5em 1.4em;

    }
}