*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    background-color: #edeef0;

}

.container{ 
    margin-top: 30px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
}
.card{ 
    max-width: 600px;
    padding: 15px;
    background-color: #fff;
    margin: 16px;
    box-shadow: 5px 5px 15px grey;
    border-radius: 10px;

}
.img{ 
    height: 100%;
    width: 100%;
}

.btn{ 
    padding: 8px;
    cursor: pointer;
}